@import '~sweetalert2/src/variables';

$swal2-dark-theme-black: #1f2421;
$swal2-dark-theme-white: #e1e1e1;

$swal2-background: $swal2-dark-theme-black;
$swal2-content-color: $swal2-dark-theme-white;
$swal2-title-color: $swal2-dark-theme-white;
$swal2-backdrop: rgba($swal2-dark-theme-black, .05);

// FOOTER
$swal2-footer-color: darken($swal2-content-color, 15%);

// INPUT
$swal2-input-color: $swal2-dark-theme-white;
$swal2-input-background: lighten($swal2-dark-theme-black, 10%);

// VALIDATION MESSAGE
$swal2-validation-message-background: lighten($swal2-dark-theme-black, 10%);
$swal2-validation-message-color: $swal2-dark-theme-white;

// QUEUE
$swal2-progress-step-background: lighten($swal2-dark-theme-black, 25%);

@import '~sweetalert2/src/sweetalert2';

// INPUT
.swal2-range,
.swal2-radio,
.swal2-checkbox {
  background: $swal2-dark-theme-black;
}
